.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://getwallpapers.com/wallpaper/full/2/9/7/494243.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}

.res-container{
  display: flex;  
  flex-wrap: wrap;
}

.logo {
  width: 175px;
}

.nav-items {
  padding:  0px 30px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 5px;
  margin: 20px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  font-family: fantasy;
  color: orange;
}

.res-card{
  width: 200px;
  height: 475px;
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  text-decoration-style: wavy;
  margin : 5px;
<<<<<<< HEAD
=======
  border-radius: 15px;
>>>>>>> 0c18d5a67b5669e286ab896d4f0dadf033907ab1
}


.res-card:hover{
<<<<<<< HEAD
  transform: scale(1.1);
=======
>>>>>>> 0c18d5a67b5669e286ab896d4f0dadf033907ab1
  border: 5px solid orange;
  background-color: black;
}


.search{
  width: 200px;
  height: 50px;
  padding: 10px;
}

.res-logo{
<<<<<<< HEAD
  width: 100%;
  margin: 2px;
=======
  width: 90%;
  height: 200px;
  margin: 2px;
  border-radius: 25px;
}

.filter-btn{
  padding: 10px;
  border-radius: 15px;
  display: flex;
  cursor: pointer;
>>>>>>> 0c18d5a67b5669e286ab896d4f0dadf033907ab1
}